<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aris.paytraffic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".drawerMenu.OfferActivity"></activity>
        <activity android:name=".activiy.KabelTv" />
        <activity android:name=".activiy.EditProfilectivity" />
        <activity
            android:name=".activiy.ProfilActivity"
            android:theme="@style/AppTheme.Night" />
        <activity android:name=".activiy.SearchActivity" />
        <activity
            android:name=".drawerMenu.Cards"
            android:label="@string/title_activity_cards"
            android:theme="@style/AppTheme.NoActionBar.L" />
        <activity android:name=".drawerMenu.addItem.AddNewItem" />
        <activity android:name=".activiy.MobilePayment" />
        <activity android:name=".activiy.MobileOperator" />
        <activity
            android:name=".auth.PhoneCode"
            android:theme="@style/AppTheme.Light" />
        <activity android:name=".auth.FingerPrint" />
        <activity
            android:name=".auth.Register"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".auth.RequestCode"
            android:theme="@style/AppTheme.Light" />
        <activity android:name=".activiy.DonePayments" />
        <activity android:name=".activiy.QrPayments" />
        <activity android:name=".activiy.BalanceIncreases" />
        <activity android:name=".activiy.QrCodeActivity" />
        <activity android:name=".drawerMenu.TransfersActivity" />
        <activity android:name=".drawerMenu.SettingsActivity" />
        <activity android:name=".drawerMenu.InviteActivity" />
        <activity android:name=".drawerMenu.InfoActivity" />
        <activity android:name=".drawerMenu.ConvertToBounce" />
        <activity android:name=".drawerMenu.ContactActivity" />
        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".helper.Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>